body {
    background-color:lightgray;
};

button {
    height: 300px;
    margin: 20px;
};

img {
    height: 200px;
    color: li
};

.new-btn {
    color:red;
};

.gifsDiv {
    padding: 2rem 10rem 2rem 10rem;
}



